.startStyle{
    background-color: rgb(42, 183, 42);
    padding: 1vw 2vw;
    font-size: 2vw;
    border: none;
    border-radius: 99px;
    color: white;
}

.stopStyle{
    background-color: rgb(183, 42, 42);
    padding: 1vw 2vw;
    font-size: 2vw;
    border: none;
    border-radius: 99px;
    color: white;
}
.resetStyle{
    background-color: rgb(74, 102, 187);
    padding: 1vw 2vw;
    font-size: 2vw;
    border: none;
    border-radius: 99px;
    color: white;
}